[project]
name = "diff-dot"
version = "2025.2.5"
description = "Compare Directional Graphs"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "click==8.1.3",
    "gitpython==3.1.32",
    "networkx==3.1",
    "rich==13.5.2",
]
